.home {
    justify-content: center;
    text-align: center;
    background-color: #2f1344;
    margin-top: 104px;
    padding: 144px;
    border-radius: 20px;
    max-width: 40%;
    position: relative;
    left: 30%;
}

.home h3{
    
    bottom: 120px;
    margin: auto;
    color: aquamarine;
    text-transform: uppercase;
}

.home button {
    position: relative;
    top: 70px;
}

.home footer {
    background-color: #19746c;
}

.Header{
    padding: 20px;
    width: 200px;
    height: 200px;
    background-color: red;
}

